* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    min-height: 100vh;
    width: 100%;
}
#navbar {
    height: 10vh;
    width: 100vw;
    padding: 0 5vw;
    position: fixed;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    mix-blend-mode: screen;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#navpart1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#navpart1 a {
    margin-left: 3vw;
    text-transform: uppercase;
    font-family: gilroy;
    color:#303030;
    text-decoration: none;
    border-bottom: 2px solid #303030;
    font-size: 1vw;
    font-weight: 600;
}

#navpart2 a {
    margin-left: 3vw;
    text-transform: uppercase;
    color: #303030;
    font-family: gilroy;
    text-decoration: none;
    font-size: 1.7vw;
    font-weight: 600;
}

#navpart1 img {
    height: 3.5vw;
}

#navpart2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#landingpage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#landingpage>h1 {
    font-family: "Super boom";

}

#line1 {
    color: #303030;
    font-size: 7.5vw;
    line-height: 6vw;
}

#line2 {
    color: rgb(255, 18, 69);
    font-size: 14vw;
    
}

#line3 {
    color: #1683ff;
    font-size: 10vw;
    display: flex;
    align-items: flex-end;
}
#line3 span{
    display: inline-block;
    height: 11vw;
    width: 28vw;
    overflow: auto;
}
#line3 span::-webkit-scrollbar{
    display: none;
}
#bottomleft{
    position: absolute;
    left: 0;
    height: 10vw;
    width: 15vw;
    bottom: 1vh;
}
#bottomleft h4{
    font-family: montserrat;
    font-size: 18px;
    color: #303030;
    margin-top: 1vw;
}
#bottomleft h4 span{
    color: rgb(255, 18, 69);

}
#arrow{
    height: 6vw;
    left: 5vw;
    position: relative;
    transform: rotate(-40deg);
}
#topright{
    position: absolute;
    right: 10vw;
    height: 10vw;
    width: 15vw;
    top: 10vh;
}
#topright h4{
    font-family: montserrat;
    font-size: 18px;
    position: relative;
    left: 3vw;
    color: #303030;
}
#topright h4 span{
    color: #1683ff;

}
#arrow2{
    height: 5vw;
    position: relative;
    transform: rotate(140deg);
}
